{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Contacto{% endblock %}
{% block content %}


<div class="container">
    <div class="columns">
        <div class="column">
 	  <div class="container">		
            <h1 class="title">Contactanos</h1>
            <form onsubmit="popup()" action=" " method="POST">
              {% csrf_token %}
              
              <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                  {% render_field form.name class="input" %}
                </div>
              </div>
              <div class="field">
                <label class="label">Asunto</label>
                <div class="control">
                  {% render_field form.subject class="input" %}
                </div>
              </div>

              <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                  {% render_field form.description class="textarea" %}
                </div>
              </div>
             
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Enviar</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancelar</button>
                </div>
              </div>
            </form>
         </div>
	</div>
        <div class="column">
          
            
              
              

        </div>
        
    </div>
   {% endblock %}
