{% extends 'base.html' %}
{% load static %}
{% block title %} Chillin Marketing Tech @Chile {% endblock %}

{% block content %}
<style>
.inicio {
body {
 background-image: url("https://svgshare.com/i/XC7.svg");
 background-color: #cccccc;
}

}
</style>

<section class='hero is-halfheight inicio'>
 <div class='container'>
	 <br>
	 <br>
 <div class='box' style='border-radius: 25px;' >
  <center class='title is-1 is-centered'> Chillin @ Chile</center>
  <!--<center class='title is-3 is-centered'> Aplicaciones Web y Marketing </center>
  <h2 class='sub-title'>Potenciando negocios a través de la integración tecnológica</h2>-->
  <img style="border-radius: 25px;" src='https://svgshare.com/i/XC7.svg'>
 </div>
 </div>
</section>
<br>
<section class='hero'>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Branding</p>
          <p class="subtitle">¿Cómo es percibida tu marca?</p>
	  <figure class="image is-3by1">
          <img style="border-radius: 25px;" src="https://media.giphy.com/media/SvFIGGWUQxjKn5b8u9/source.gif">
          </figure>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Posicionamiento Web</p>
          <p class="subtitle">Alcanza a tus clientes</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Marketing Digital</p>
          <p class="subtitle">Conoce y conecta con tus clientes</p>
          <p class="title">Growth Marketing</p>
          <p class="subtitle">Despliegue de marca </p> 
	 <figure class="image is-4by3">
          <img style="border-radius: 25px;" src="https://media.giphy.com/media/2ikwIgNrmPZICNmRyX/giphy.gif">
         </figure>
	</article>
      </div>
    </div>
    
    <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Acelera tus ventas y aumenta tus beneficios</p>
          <p class="subtitle">Conoce y conecta con tus clientes</p>
        </article>

      </div>
    </div>
<div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Desarrollo de Web App's</p>
	  <p class="title">Desarrollo UI y UX </p>
	  <p class="title">Publicidad Online</p>
          <figure class="image is-2by3">
          <img style="border-radius: 25px;" src="https://media.giphy.com/media/3oKIPEqDGUULpEU0aQ/source.gif">
          </figure>
        </article>
      </div>
    </div>
</section>
{% endblock %}

